.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    background-color: #567fa8;
    height: 2.8rem;
    color: #ffba75;
}

.link {
    text-decoration: none;
    color: #ffba75;
    font-weight: bold;
}

.main h2:hover {
    cursor: pointer;
    background-color: rgb(51, 164, 209);
    border-radius: 5px;
    color: lightgray;
}

.link:hover {
    cursor: pointer;
    background-color: rgb(51, 164, 209);
    border-radius: 5px;
    color: lightgray;
}
@media screen and (max-width:740px) {
    .main{
        gap:17rem
    }
}
@media screen and (max-width:556px) {
    .main{
        gap:3rem
    }
}